* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@font-face {
    font-family: Titlefont;
    src: url(Ministro.ttf);
}

@font-face {
    font-family: secondfont;
    src: url(Shock-Thin.ttf);
}
@font-face {
    font-family: script;
    src: url(LeagueScript-Regular.ttf);
}

:root{
    --white: white;
    --grey: gray;

}

.topbar{
    position: relative;
    width: 100vw;
    height: 110px;
    z-index: 1;
}

.name{
    position: relative;
    border: white 5px solid;
    width: 400px;
    height: 100px;
    margin: auto;
}
.myName{
    top: 30px;
    position: relative;
    color: white;
    text-align: center;
    font-family: 'Titlefont';
    font-size: 40px;
}
.resume{
    position: relative;
    color: white;
    text-align: center;
    font-family: 'Titlefont';
    width: 200px;
    border: 4px solid white;
    height: 70px;
    margin: auto;
    left: -305px;
    top: -110px;
}
.restext{
    text-decoration: none;
    top: 20px;
    position: relative;
    color: white;
    text-align: center;
    font-family: 'Titlefont';
    font-size: 25px;
}
.linkedin{
    position: relative;
    color: white;
    text-align: center;
    font-family: 'Titlefont';
    width: 200px;
    border: 4px solid white;
    height: 70px;
    margin: auto;
    right: -305px;
    top: -188px;
}
.linktext{
    top: 20px;
    position: relative;
    color: white;
    text-align: center;
    font-family: 'Titlefont';
    font-size: 25px;
}
.mountains{
    background-image: url(IMG_04741.jpg);
    position: fixed;
    max-height: 100%;
    min-height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    opacity: .7;
    
}
.body{
    position: absolute;
    z-index: 999;
    width: 100vw;
    height: 1000px;
    top: 200px;
}
.slant{
    position: relative;
    height: 300px;
    top: 300px;
    width: 50vw;
}
.slant2{
    position: relative;
    width: 50vw;
    height: 300px;
    left: 50vw;
    top: -4px;
}

.welcomebox{
    background-color: rgba(49, 49, 49, 0.4);
    margin: auto;
    width: 40vw;
    height: 220px;
    display: table;
    clear: both;

}
.Hi{
    width: 15vw;
    position: relative;
    height: 100px;
    color: white;
    font-family: 'secondfont';
    font-size: 5vw;
    margin: auto;
    display: inline-block;
    left: 6vw;
    top: 0vw;
}

.joey{
    top: 0vw;
    width: 15vw;
    position: relative;
    height: 100px;
    color: rgb(65, 236, 122);
    font-family: 'script';
    font-weight: 1000;
    font-size: 6vw;
    margin: auto;
    display: inline-block;
    left: 6vw;
    z-index: 998;
}
.infobox{
    position: relative;
    width: 35vw;
    color: white;
    margin: auto;
    padding: 1.5vw;
    font-family: 'Titlefont';
    text-align: center;
    z-index: 999;
}
.slant3{
    position: relative;
    width: 50vw;
    height: 300px;
    left: 50vw;
    top:-100px;
}
.slant4{
    position: relative;
    width: 50vw;
    height: 300px;
    top: -404px;
}
.midsquare{
    position: relative;
    width: 70vw;
    margin: auto;
    background-color: rgba(87, 87, 87, 0.7);
    border-radius: 50px;
    height: 400px;
    top: 200px;
}
.titlesquare{
    position: relative;
    width: 25vw;
    margin: auto;
    background-color: rgb(165, 165, 165);
    border-radius: 30px;
    height: 100px;
    top: 260px;
    z-index: 999
}
.titlesquaretext{
    margin: auto;
    top: 20%;
    width: 75%;
    position: relative;
    color: white;
    text-align: center;
    font-family: 'Titlefont';
    font-size: 3vw;
    border-top: 3px solid white;
    border-bottom: 3px solid white;

}

.huskycontainer{
    position: relative;
    top: 75px;
    left: 50px;
    background-color: rgb(158, 158, 158);
    width: 25vw;
    height: 250px;
    border-radius: 15px;
}

.husky{
    position: relative;
    width: 8.5vw;
    left: 30vw;
    top: -180px;
}

.huskytext{
    position: relative;
    height: 175px;
    width: 23vw;
    margin: auto;
    top: 5%;
    color: white;
    font-family: 'titlefont';
    font-size: .85vw;
    list-style-type: \1F95E;
}
.huskycontainer2{
    position: absolute;
    top: 75px;
    left: 40vw;
    background-color: rgb(158, 158, 158);
    width: 27vw;
    height: 250px;
    border-radius: 15px;
}
.clockcontainer{
    position: relative;
    width: 30vw;
    height: 5vw;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    top: -150px;
}
.clock{
    color: rgb(65, 236, 122);
    width: 30vw;
    height: 80px;
    position: relative;
    top: 10px;
    font-size: 3vw;
    font-family: 'orbitron';
    text-align: center;
}